body {
  background-color: rgb(60, 48, 58);
}

.mainContainer {
  margin-left: auto;
  margin-right: auto;
}

.appContainer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height:800px;
  font-family: 'Hind', sans-serif; 
  font-weight: 700;
}

.mainImage {
  height: 65%;
}

.mainImageTop {
  height: 33.3%;
  border-radius: 20px 20px 0px 0px;
  background-color: #01261C;
  border-top: 8px solid #78A658;
  border-left: 8px solid #78A658;
  border-right: 8px solid #78A658;
}

.mainImageMid {
  height: 33.3%;
  background-color:#36593E;
  border-left: 8px solid #78A658;
  border-right: 8px solid #78A658;
}

.mainImageBottom {
  height: 33.3%;
  vertical-align: bottom;
  background-color: #4D7343;
  border-left: 8px solid #78A658;
  border-right: 8px solid #78A658;
  font-size: 6rem;
  letter-spacing: -2px;
  color: #01261C;
  text-shadow: 0px 1px 1px rgb(175, 193, 139);
  display: flex;
}

.mainContentBox {
  border-radius: 0px 0px 20px 20px;
  padding-top: 10px;
  padding-left: 20px;
  height: 35%;
  background-color:#78A658;
  display: flex;
}

.formContainer{
  width: 50%;
  padding-right: 2.5%;
  display: flex;
  align-content: flex-start;
}

.copyContainer {
  width: 50%;
  padding-left: 2.5%;
  padding-right: 5%;
  border-left: 4px dotted #01261C;
  }

.buttonContainer {
 
}

.titleContainer {
  width: 50%;
  height: 100%;
  padding-top: 6.5%;
  padding-left: 10px;
}

.arrowContainer {
  display: flex;
  justify-content: right;
  z-index: 0;
  position: absolute;
  margin-top: 71px;
  margin-left: 450px;
}  

.targetContainer{
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring{
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: tomato;
  border: 1.5px solid black ;
}

.introBox {
  height: 60%;
  padding-right: 20px;
  font-size: 1.9rem;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #01261C;
  }


.mainButton {
  width: 250px;
  height:40px;
  border-radius: 20px 0px 0px 20px;
  padding-top:4px;
  background-color: #661D4A;
  font-family: 'Hind', sans-serif; 
  font-weight: 600;
  font-size: 22px;
  color:#44002C;
  text-shadow: 0px 1px 1px rgb(136, 55, 105);
}

.descHeading {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif; 
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: -10px;
}

.copyText {
  font-family: 'Raleway', sans-serif;
  font-size: .7rem;
  text-align: left;
  color: #01261C;
}

.arrows {
  height: 450px;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Hind', sans-serif; */