body {
  background-color: bisque;
}

.mainContainer {
  margin-left: auto;
  margin-right: auto;
}

.appContainer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height:800px;
  font-family: 'Hind', sans-serif; 
  font-weight: 700;
}

.mainImage {
  height: 65%;
}

.mainImageTop {
  height: 33.3%;
  border-radius: 20px 20px 0px 0px;
  background-color: #01261C;
}

.mainImageMid {
  height: 33.3%;
  background-color:#36593E;
}

.mainImageBottom {
  height: 33.3%;
  padding-top: 45px;
  padding-left: 40px;
  vertical-align: bottom;
  font-size: 5rem;
  letter-spacing: -2px;
  color: #01261C;
  text-shadow: 0px 1px 1px rgb(175, 193, 139);
  background-color: #4D7343;
}

.mainContentBox {
  border-radius: 0px 0px 20px 20px;
  padding-top: 10px;
  padding-left: 20px;
  height: 35%;
  background-color:#78A658;
  text-align: center;
}

.introBox {
  height: 60%;
  padding-right: 20px;
  font-size: 1.9rem;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #01261C;
  }

.buttonContainer {
  padding-left: 530px;
  padding-right: 0;
}

.startButton {
  width: 250px;
  height:40px;
  border-radius: 20px 0px 0px 20px;
  padding-top:4px;
  background-color: #661D4A;
  font-family: 'Hind', sans-serif; 
  font-weight: 600;
  font-size: 22px;
  color:#44002C;
  text-shadow: 0px 1px 1px rgb(136, 55, 105);
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Hind', sans-serif; */